@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To School Registration Page</h1>
    <p>The roots of education are bitter, but the fruit is sweet.</p>
    <img src="https://thumbs.dreamstime.com/z/questionnaire-one-person-filling-up-school-registration-206975103.jpg" height="500" width="500" />
</div>
